{% extends "_ext/adminLayout.html"%}
{% block content %}
       
           <main>
               <div class="cards">
                   <div class="card-single">
                       <div>
                           <h1>{{length}}</h1>
                         <a href="{{ url_for('admin.studentDetail') }}">   <span>Students</span></a>
                       </div>
                       <div>
                           <span class="las la-users">

                           </span>
                       </div>
                   </div>

                
                <div class="card-single">
                    <div>
                        <h1>{{lengthLecturer}}</h1>
                    <a href="{{ url_for('admin.lecturerDashboard') }}"><span>Lecturers</span></a>
                    </div>
                    <div>
                        <span class="las la-clipboard">
                
                        </span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>{{lengthFaculty}}</h1>
                        <span>Faculties</span>
                    </div>
                    <div>
                        <span class="las la-shopping-bag">
                
                        </span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>{{lengthDepartment}}</h1>
                        <span>Departments</span>
                    </div>
                    <div>
                        <span class="las la-google-wallet">
                
                        </span>
                    </div>
                </div>


               
                <div class="card-single">
                    <div>
                        <h1>1st</h1>
                        <span>Semester</span>
                    </div>
                    <div>
                        <span class="las la-superpowers">
                
                        </span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>Week 25</h1>
                        <span>Session Calender</span>
                    </div>
                    <div>
                        <span class="las la-google-wallet">
                
                        </span>
                    </div>
                </div>



               </div>

               <div class="recent-grid">
                   <div class="projects">
                       <div class="card">
                           <div class="card-header">
                                <h3>
                                    Recent Activities
                                </h3>

                                <button>
                                    See All
                                    <span class="las la-arrow-right">
                                        
                                    </span>
                                </button>
                           </div>

                           <div class="card-body">
                               <table width="100%">
                                   <thead>
                                       <tr>
                                           <td>
                                               Activity
                                           </td>
                                        <td>
                                            Time
                                        </td>
                                        
                                       </tr>

                                   </thead>
                                   <tbody>
                                       <tr>
                                           <td>
                                                UI/UX Design
                                           </td>
                                           <td>
                                            UI Team
                                           </td>
                                           
                                       </tr>
                                       
                                   </tbody>
                               </table>
                           </div>

                       </div>
                        
                   </div>
                   <div class="customers">
                    <div class="card">
                        <div class="card-header">
                            <h3>
                                Administrators
                            </h3>
                    
                        <a href="{{ url_for('admin.allAdmin') }}" class="active">  <button>
                                See All
                                <span class="las la-arrow-right">
                    
                                </span>
                            </button>
                            </a>
                        </div>
                    
                        {% for admins in admin %}
                        <div class="card-body">
                            <div class="customer">
                                <div class="info">
                                    <img src="" width="40px" height="40px" alt="">

                                    <div>
                                        <h4>
                                           {{admins.name}}
                                        </h4>
                                        <small>
                                            {{admins.position}}
                                        </small>
                                    </div>
                                </div>

                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="las la-comment"></span>
                                    <span class="las la-phone"></span>
                                </div>

                            </div>

                            </div>
                            {% endfor %}

                            
                            </div>

                   </div>
               </div>
          

           </main>
      
 
       {% endblock content %}