{% extends '_ext/layout.html' %}
{% block content %}


   <div class="content-wrapper">
      <div class="content-section">
         <div class="content-section-title content-wrapper-header " style="font-size: 34px; color: #c4c9ff;">Welcome! {{current_user.name}}</div>
      </div>
      
    <div class="content-wrapper-header">
     <div class="content-wrapper-context">
      <h3 class="img-content">
       
       Notice!!
      </h3>
      <div class="content-text">Due to Covid-19 protocol, classes will be held online till further notice.</div>
      <button class="content-button">More Update</button>
     </div>
     <img class="content-wrapper-img" src="https://assets.codepen.io/3364143/glass.png" alt="">
    </div>
    
     </div>
     
     </div>
     
    </div>
   </div>
{% endblock content %}