{% extends "_ext/adminLayout.html"%}
{% block content %}


<div class="recent-grid">
    <div class="projects">
        <div class="card" style=" margin-top: 1rem;">
            <div class="card-header">
                <h3>
                    Students Mail
                </h3>
 <a href="{{ url_for('admin.bulkLecturerMail') }}">
 Lecturer Mail

 </a>

            </div>

            <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset style="border: none;">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>
                                        {{form.title.label()}}
                                    </td>
                                    <td>
                                        {{form.title()}}
                                    </td>


                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{form.mail.label()}}
                                    </td>
                                    <td>
                                        {{form.mail()}}
                                    </td>

                                </tr>

                               
</tbody>
</table>
</fieldset>
{{form.submit}}
</form>
</div>
</div>
</div>
</div>




{% endblock content %}