
{% block content %}

<form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset style="border: none;">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>
                                        {{form.name.label()}}
                                    </td>
                                    <td>
                                        {{form.name()}}
                                    </td>


                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{form.levels.label()}}
                                    </td>
                                    <td>
                                        {{form.levels()}}
                                    </td>

                                </tr>
								<tr>
                                    <td>
                                        {{form.semester.label()}}
                                    </td>
                                    <td>
                                        {{form.semester()}}
                                    </td>

                                </tr>
								
								
								
								<tr>
                                    <td>
                                        {{form.faculty.label()}}
                                    </td>
                                    <td>
                                        {{form.faculty()}}
                                    </td>

                                </tr>
								<tr>
                                    <td>
                                        {{form.department.label()}}
                                    </td>
                                    <td>
                                        {{form.department()}}
                                    </td>

                                </tr>
								
								<tr>
                                    <td>
                                        {{form.lecturer.label()}}
                                    </td>
                                    <td>
                                        {{form.lecturer()}}
                                    </td>

                                </tr>

                               
</tbody>
</table>
</fieldset>
{{form.submit}}
</form>


{% endblock content %}