{% extends "_ext/adminLayout.html"%}
{% block content %}
<input type="checkbox" id="nav-toggle">
<div class="sidebar">
        <div class="sidebar-brand">
            <h2>
                <span class="lab la-accusoft"></span>

                <span>
                        XAVE
                </span>
            </h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li><a href="{{ url_for('admin.AdminDashboard') }}" ><span class="las la-igloo"></span><span>Dashboard</span></a>
                </li>
                <li><a href="{{ url_for('admin.studentDetail') }}"><span class="las la-users"></span><span>Student Management</span></a>
                </li>
                <li><a href="{{ url_for('admin.lecturerDashboard') }}"><span class="las la-users"></span><span>Lecturer Management</span></a>
                </li>
                
                    <li><a href="{{ url_for('admin.bulkMail') }}"><span class="las la-clone"></span><span>Bulk Mail</span></a>
                </li>

                <li><a href="{{ url_for('admin.adminControl') }}" class="active"><span class="las la-bullseye"></span><span>Administration Control</span></a>
                    </li>
                    <li><a href="{{ url_for('admin.log') }}"><span class="las la-history"></span><span>Activities Log</span></a></li>
                    <li><a href="{{ url_for('admin.logoutAdmin') }}"><span class="las la-route"></span><span>Logout</span></a>
                    </li>

            </ul>

        </div>
    </div>
	<div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars">
    
                    </span>
                </label>
                
            </h2>
         
    
            <div class="user-wrapper">
                <img src="" width="40px" height="40px" alt="">
                <div>
                    <h4>{{current_user.name}}</h4>
                    <small>{{current_user.position}}</small>
                </div>
            </div>
        </header>
<div class="recent-grid">
    
</div>

<div class="recent-grid" >
    <div class="projects">
        <div class="card" style=" margin-top: 1rem;">
            <div class="card-header ">
                <h3>
                    Student Details
                </h3>

               
            </div>

            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>
                                Name
                            </td>
                            <td>
                                {{detail.name}}
                            </td>
                            <td>
                                <button class="vas">Active</button>
                                
                                
                            </td>
                            
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Email <Address></Address>
                            </td>
                            <td>
                                {{detail.email}}
                            </td>
                           
                        </tr>

                        <tr>
                            <td>
                                Gender
                            </td>
                            <td>
                                {{detail.gender}}
                            </td>
                            
                        </tr>

                        <tr>
                            <td> Position</td>
                            <td>
                                {{detail.position}}
                            </td>
                            
                        </tr>
                        
                        
                    </tbody>
                </table>
            </div>

            <div class="card">
                <div class="card-header" style="color:rgb(177, 5, 5) ">
                    <h3>
                        Delete Admin
                    </h3>
            
                    <a href="{{ url_for('admin.deleteAdmin', unique_id=detail.unique_id) }}">
                        <button style="background: red">
                        Delete
                        <span class="las la-trash">
            
                        </span>
                    </button>
                    </a>
                </div>
                </div>

        </div>
    </div>
</div>
    </div>
    
  

{% endblock content %}