{% extends "_ext/adminLayout.html"%}
{% block content %}
<input type="checkbox" id="nav-toggle">
       <div class="sidebar">
        <div class="sidebar-brand">
            <h2>
                <span class="lab la-accusoft"></span>

                <span>
                        XAVE
                </span>
            </h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li><a href="{{ url_for('admin.AdminDashboard') }}" class="active"><span class="las la-igloo"></span><span>Dashboard</span></a>
                </li>
                <li><a href="{{ url_for('admin.studentDetail') }}"><span class="las la-users"></span><span>Student Management</span></a>
                </li>
                <li><a href="{{ url_for('admin.lecturerDashboard') }}"><span class="las la-users"></span><span>Lecturer Management</span></a>
                </li>
                
                    <li><a href="{{ url_for('admin.bulkMail') }}"><span class="las la-clone"></span><span>Bulk Mail</span></a>
                </li>

                <li><a href="{{ url_for('admin.adminControl') }}"><span class="las la-bullseye"></span><span>Administration Control</span></a>
                    </li>
                    <li><a href="{{ url_for('admin.log') }}"><span class="las la-history"></span><span>Activities Log</span></a></li>
                    <li><a href="{{ url_for('admin.logoutAdmin') }}"><span class="las la-route"></span><span>Logout</span></a>
                    </li>

            </ul>

        </div>
    </div>
	<div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars">
    
                    </span>
                </label>
                
            </h2>
         
    
            <div class="user-wrapper">
                <img src="" width="40px" height="40px" alt="">
                <div>
                    <h4>{{current_user.name}}</h4>
                    <small>{{current_user.position}}</small>
                </div>
            </div>
        </header>
           <main>
               <div class="cards">
                   <div class="card-single">
                       <div>
                           <h1>{{length}}</h1>
                         <a href="{{ url_for('admin.studentDetail') }}">   <span>Students</span></a>
                       </div>
                       <div>
                           <span class="las la-users">

                           </span>
                       </div>
                   </div>

                
                <div class="card-single">
                    <div>
                        <h1>{{lengthLecturer}}</h1>
                    <a href="{{ url_for('admin.lecturerDashboard') }}"><span>Lecturers</span></a>
                    </div>
                    <div>
                        <span class="las la-clipboard">
                
                        </span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>{{lengthFaculty}}</h1>
                        <span>Faculties</span>
                    </div>
                    <div>
                        <span class="las la-shopping-bag">
                
                        </span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>{{lengthDepartment}}</h1>
                        <span>Departments</span>
                    </div>
                    <div>
                        <span class="las la-google-wallet">
                
                        </span>
                    </div>
                </div>


               
                <div class="card-single">
                    <div>
					{% if semester.semester == 1 %}
                        <h1>{{semester.semester}}st</h1>
						{% else%}
                        <h1>{{semester.semester}}nd</h1>
						{% endif %}
                        <span>Semester</span>
                    </div>
                    <div>
                        <span class="las la-superpowers">
                
                        </span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>Week {{week.week}}</h1>
                        <span>Session Calender</span>
                    </div>
                    <div>
                        <span class="las la-google-wallet">
                
                        </span>
                    </div>
                </div>



               </div>

               <div class="recent-grid">
                   <div class="projects">
                       <div class="card">
                           <div class="card-header">
                                <h3>
                                    Recent Activities
                                </h3>

                                <button>
                                    See All
                                    <span class="las la-arrow-right">
                                        
                                    </span>
                                </button>
                           </div>

                           <div class="card-body">
						   <div class="table-responsive">
                               <table width="100%">
                                   <thead>
                                       <tr>
                                           <td>
                                               Activity
                                           </td>
                                        <td>
                                            Time
                                        </td>
                                        
                                       </tr>

                                   </thead>
                                   <tbody>
                                       <tr>
                                           <td>
                                                UI/UX Design
                                           </td>
                                           <td>
                                            UI Team
                                           </td>
                                           
                                       </tr>
                                       
                                   </tbody>
                               </table>
                           </div>
</div>
                       </div>
                        
                   </div>
                   <div class="customers">
                    <div class="card">
                        <div class="card-header">
                            <h4>
                                Administrators
                            </h4>
                    
                        <a href="{{ url_for('admin.allAdmin') }}" class="active">  <button style="font-size:9px;">
                                See All
                                
                            </button>
                            </a>
                        </div>
                    
                        
                        <div class="card-body">
						<div class="table-responsive">
						{% for admins in admin %}
                            <div class="customer">
							
                                <div class="info">
                                    <img src="" width="40px" height="40px" alt="">

                                    <div>
                                   <a href="{{ url_for('admin.adminDetail', name=admins.name) }}">      <h4>
                                           {{admins.name}}
                                        </h4></a>
                                        <small>
                                            {{admins.position}}
                                        </small>
                                    </div>
                                </div>
							
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    
                                    <span class="las la-phone"></span>
                                </div>

                            </div>
					{% endfor %}
                            </div>
                            
</div>
                            
                          

                   </div>
               </div>
          

           </main>
        </div>
 
       {% endblock content %}