{% extends "_ext/adminLayout.html"%}
{% block content %}

<main>
    <div class="cards">
        <div class="card-single">
            <div>
             <a href="{{ url_for('admin.openPortal') }}">  <h3>Open Payment Portal</h3>
            </a>
            </div>
            <div>
                <span class="las la-users">

                </span>
            </div>
        </div>


        <div class="card-single">
            <div>
             <a href="{{ url_for('admin.closePortal') }}">   <h3>Close Payment Portal</h3>
                </a>
            </div>
  
        </div>

        <div class="card-single">
            <div>
                <a href="{{ url_for('admin.addAdmin') }}"><h3>Register New Admin</h3></a>
               
            </div>
   
        </div>

        <div class="card-single">
            <div>
                <a href="{{ url_for('admin.lecturerDashboard') }}"><h3>Update School Timetable</h3></a>
            
            </div>
           
        </div>


    
        </div>
        </main>

{% endblock content %}