{% extends "_ext/adminLayout.html"%}
{% block content %}
<div class="recent-grid">
    
</div>

<div class="recent-grid">
<div class="search-wrapper">
    <span class="las la-search">

    </span>
    <input type="search" id="livebox" class="livebox" placeholder="Search Admin">

</div>
</div>

    {% for admins in admin %}
<div class="recent-grid">
    <div class="projects">
        <div class="card">

    <div class="card-body">
        <div class="customer">
            <div class="info">
                <img src="" width="40px" height="40px" alt="">
    
                <div>
                    <h4>
                        {{admins.name}}
                        
                    </h4>
                    <small>
                        {{admins.position}}
                    </small>
                </div>
            </div>
    
            <div class="contact">
                <span class="las la-user-circle"></span>
                <span class="las la-comment"></span>
                <span class="las la-phone"></span>
            </div>
    
        </div>
    
    </div>
    </div>
    </div>
    </div>
    {% endfor %}

{% endblock content %}