{% extends "_ext/adminLayout.html"%}
{% block content %}

<input type="checkbox" id="nav-toggle">
<div class="sidebar">
        <div class="sidebar-brand">
            <h2>
                <span class="lab la-accusoft"></span>

                <span>
                        XAVE
                </span>
            </h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li><a href="{{ url_for('admin.AdminDashboard') }}" ><span class="las la-igloo"></span><span>Dashboard</span></a>
                </li>
                <li><a href="{{ url_for('admin.studentDetail') }}"><span class="las la-users"></span><span>Student Management</span></a>
                </li>
                <li><a href="{{ url_for('admin.lecturerDashboard') }}"><span class="las la-users"></span><span>Lecturer Management</span></a>
                </li>
                
                    <li><a href="{{ url_for('admin.bulkMail') }}"><span class="las la-clone"></span><span>Bulk Mail</span></a>
                </li>

                <li><a href="{{ url_for('admin.adminControl') }}" class="active"><span class="las la-bullseye"></span><span>Administration Control</span></a>
                    </li>
                    <li><a href="{{ url_for('admin.log') }}"><span class="las la-history"></span><span>Activities Log</span></a></li>
                    <li><a href="{{ url_for('admin.logoutAdmin') }}"><span class="las la-route"></span><span>Logout</span></a>
                    </li>

            </ul>

        </div>
    </div>
	<div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars">
    
                    </span>
                </label>
                
            </h2>
         
    
            <div class="user-wrapper">
                <img src="" width="40px" height="40px" alt="">
                <div>
                    <h4>{{current_user.name}}</h4>
                    <small>{{current_user.position}}</small>
                </div>
            </div>
        </header>
<div class="recent-grid">
    
</div>

<div class="recent-grid">
<div class="search-wrapper">
    <span class="las la-search">

    </span>
    <input type="search" id="livebox" class="livebox" placeholder="Search Admin">

</div>
</div>

    {% for admins in admin %}
<div class="recent-grid">
    <div class="projects">
        <div class="card">

    <div class="card-body">
        <div class="customer">
            <div class="info">
                <img src="" width="40px" height="40px" alt="">
    
                <div>
               <a href="{{ url_for('admin.adminDetail', name=admins.name) }}">      <h4>
                        {{admins.name}}
                        
                    </h4></a>
                    <small>
                        {{admins.position}}
                    </small>
                </div>
            </div>
    
            <div class="contact">
                <span class="las la-user-circle"></span>
                <span class="las la-comment"></span>
                <span class="las la-phone"></span>
            </div>
    
        </div>
    
    </div>
    </div>
    </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}