{% extends '_ext/layout.html' %}
{% block content %}
<input type="checkbox" id="nav-toggle">
 <div class="sidebar">
        <div class="sidebar-brand">
            <h2>
                <span class="lab la-accusoft"></span>

                <span>
                        XAVE
                </span>
            </h2>
        </div>
        <div class="sidebar-menu">
            <ul>
			<li><a href="{{ url_for('student.dashboard') }}" ><span class="las la-route"></span><span>Profile</span></a>
                    </li>
                <li><a href="{{ url_for('student.bioData') }}" class="active"><span class="las la-igloo"></span><span>Bio Data</span></a>
                </li>
                <li><a href="{{ url_for('student.result') }}"><span class="las la-users"></span><span>Results</span></a>
                </li>
                <li><a href="{{ url_for('student.feeStatus') }}"><span class="las la-users"></span><span>Fees </span></a>
                </li>
                
                    <li><a href="{{ url_for('student.registerCourses') }}"><span class="las la-clone"></span><span>Courses</span></a>
                </li>

                <li><a href="{{ url_for('student.studentMail') }}"><span class="las la-bullseye"></span><span>Mails</span></a>
                    </li>
                    <li><a href="{{ url_for('student.updateProfile') }}"><span class="las la-history"></span><span>Update Profile</span></a></li>
                    
<li><a href="{{ url_for('student.logoutStudent') }}"><span class="las la-route"></span><span>Logout</span></a>
                    </li>

            </ul>

        </div>
    </div>
	 <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars">
    
                    </span>
                </label>
                
            </h2>
         
    
            <div class="user-wrapper">
                <img src="" width="40px" height="40px" alt="">
                <div>
                    <h4>{{current_user.name}}</h4>
                    <small>{{current_user.position}}</small>
                </div>
            </div>
        </header>
<div class="content-section" >
    <div class="content-section-title">
        <div class="products" style="color: white;">
    <h4>My Data</h>
    </div>
    </div>
</div>

<style>

.hd5{
margin-top:4rem;
margin-bottom:1rem;
}
.tleft{
float: right;
}


</style>

<div class="card-body">
    <table width="100%">
  
	<h5 class="hd5">Personal Information</h5>
        <thead>
            <tr >
		
                <td class="products" >
                    Name
                </td>
                <td class="tleft">
                    {{detail.name}}
                </td>
				
            </tr>
			<tr>
                <td class="products">
                    Date Of Birth
                </td>
                <td class="tleft">
                    {{detail.date_of_birth}}
                </td>

            </tr>
            <tr>
                <td class="products">
                    Religion
                </td>
                <td class="tleft">
                    {{detail.religion}}
                </td>

            </tr>
            <tr>
                <td class="products">
                    Marital Status
                </td>
                <td class="tleft">
                    {{detail.marital_status}}
                </td>

            </tr>

            <tr>
                <td class="products">
                    Nationality
                </td>
                <td class="tleft">
                    {{detail.nationality}}
                </td>

            </tr>
			
            <tr>
                <td class="products">State Of Origin</td>
                <td class="tleft">
                    {{detail.state_of_origin}}
                </td>

            </tr>
            <tr>
                <td class="products">
                    Local Government
                </td>
                <td class="tleft">
                    {{detail.local_government}}
                </td>

            </tr>

            <tr>
                <td class="products">
                    Hometown
                </td>
                <td class="tleft">
                    {{detail.hometown}}
                </td>

            </tr>

        </thead>
		</table>
		 <table width="100%"  style="color: darkgrey;"> 
		<h5 class="hd5">Academic Information</h5>
       <thead class="adobe-product">
		 <tr>
                <td class="products">Matriculation Number</td>
                <td class="tleft">
                    {{detail.matriculation_number}}
                </td>

            </tr>
			
            <tr>
                <td class="products">
                    Registration Number
                </td>
                <td class="tleft">
                    {{detail.registration_number}}
                </td>

            </tr>
			 <tr>
                <td class="products">
                    Faculty
                </td>
                <td class="tleft">
                    {{detail.faculty}}
                </td>

            </tr>

            <tr>
                <td class="products">
                    Department
                </td>
                <td class="tleft">
                    {{detail.department}}
                </td>

            </tr>

            <tr>
                <td class="products">
                    Admission Year
                </td>
                <td class="tleft">
                    {{detail.admission_year}}
                </td>

            </tr>

            <tr>
                <td class="products">
                    Programme Type
                </td>
                <td class="tleft">
                    {{detail.programme_type}}
                </td>

            </tr>
            <tr>
                <td class="products">
                    Degree
                </td>
                <td class="tleft">
                    {{detail.degree}}
                </td>
            </tr>
		</thead>
		</table>
		 <table width="100%"  style="color: darkgrey;">
		<h5 class="hd5">Contact Information</h5>
		<thead class="adobe-product">
		<tr >
                <td class="products">
                    Email <Address></Address>
                </td>
                <td class="tleft">
                    {{detail.email}}
                </td>

            </tr>

            <tr>
                <td class="products">
                    Phone Number
                </td>
                <td class="tleft">
                    {{detail.phone_number}}
                </td>

            </tr>
			
			
		</thead>
		</table>


</div>
</div>

{% endblock content %}