{% extends '_ext/layout.html' %}
{% block content %}
<style>
    input {
        width: 80%;
        outline: none;
        border: none;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.2);
        padding: 8px 10px;
        padding-left: 40px;
        border-radius: 15px;
        color: #fff;
        font-size: 16px;
        box-shadow: 0 5px 15px rgb(0 0 0 / 5%);

    }
</style>
<div class="content-section" >
    <div class="content-section-title">
        <div class="products" style="color: white;">
    <h2>My Data</h2>
    </div>
    </div>
</div>

<div class="card-body">
    <table width="100%"  style="color: darkgrey;">
        <thead class="adobe-product">
            <tr >
		
                <td >
                    Name
                </td>
                <td>
                    {{detail.name}}
                </td>
				
            </tr>

        </thead>
        <tbody class="adobe-product">
		
            <tr>
                <td>
                    Email <Address></Address>
                </td>
                <td>
                    {{detail.email}}
                </td>

            </tr>

            <tr>
                <td>
                    Phone Number
                </td>
                <td>
                    {{detail.phone_number}}
                </td>

            </tr>

            <tr>
                <td>Matriculation Number</td>
                <td>
                    {{detail.matriculation_number}}
                </td>

            </tr>
            <tr>
                <td>
                    Registration Number
                </td>
                <td>
                    {{detail.registration_number}}
                </td>

            </tr>
            <tr>
                <td>
                    Date Of Birth
                </td>
                <td>
                    {{detail.date_of_birth}}
                </td>

            </tr>
            <tr>
                <td>
                    Religion
                </td>
                <td>
                    {{detail.religion}}
                </td>

            </tr>
            <tr>
                <td>
                    Marital Status
                </td>
                <td>
                    {{detail.marital_status}}
                </td>

            </tr>

            <tr>
                <td>
                    Nationality
                </td>
                <td>
                    {{detail.nationality}}
                </td>

            </tr>
            <tr>
                <td>State Of Origin</td>
                <td>
                    {{detail.state_of_origin}}
                </td>

            </tr>
            <tr>
                <td>
                    Local Government
                </td>
                <td>
                    {{detail.local_government}}
                </td>

            </tr>

            <tr>
                <td>
                    Hometown
                </td>
                <td>
                    {{detail.hometown}}
                </td>

            </tr>

            <tr>
                <td>
                    Faculty
                </td>
                <td>
                    {{detail.faculty}}
                </td>

            </tr>

            <tr>
                <td>
                    Department
                </td>
                <td>
                    {{detail.department}}
                </td>

            </tr>

            <tr>
                <td>
                    Admission Year
                </td>
                <td>
                    {{detail.admission_year}}
                </td>

            </tr>

            <tr>
                <td>
                    Programme Type
                </td>
                <td>
                    {{detail.programme_type}}
                </td>

            </tr>
            <tr>
                <td>
                    Degree
                </td>
                <td>
                    {{detail.degree}}
                </td>
            </tr>
        </tbody>
    </table>

</div>


{% endblock content %}