{% extends '_ext/layout.html' %}
{% block content %}
<style>
    input {
        width: 80%;
        outline: none;
        border: none;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.2);
        padding: 8px 10px;
        padding-left: 40px;
        border-radius: 15px;
        color: #fff;
        font-size: 16px;
        box-shadow: 0 5px 15px rgb(0 0 0 / 5%);

    }
</style>
<div class="content-section" >
    <div class="content-section-title">
        <div class="products" style="color: white;">
    <h4>My Data</h>
    </div>
    </div>
</div>

<div class="card-body">
    <table width="100%"  style="color: darkgrey;">
	<h5>Personal Information</h5>
        <thead class="adobe-product">
            <tr >
		
                <td class="products" >
                    Name
                </td>
                <td>
                    {{detail.name}}
                </td>
				
            </tr>
			<tr>
                <td class="products">
                    Date Of Birth
                </td>
                <td>
                    {{detail.date_of_birth}}
                </td>

            </tr>
            <tr>
                <td class="products">
                    Religion
                </td>
                <td>
                    {{detail.religion}}
                </td>

            </tr>
            <tr>
                <td class="products">
                    Marital Status
                </td>
                <td>
                    {{detail.marital_status}}
                </td>

            </tr>

            <tr>
                <td class="products">
                    Nationality
                </td>
                <td>
                    {{detail.nationality}}
                </td>

            </tr>
			
            <tr>
                <td class="products">State Of Origin</td>
                <td>
                    {{detail.state_of_origin}}
                </td>

            </tr>
            <tr>
                <td class="products">
                    Local Government
                </td>
                <td>
                    {{detail.local_government}}
                </td>

            </tr>

            <tr>
                <td class="products">
                    Hometown
                </td>
                <td>
                    {{detail.hometown}}
                </td>

            </tr>

        </thead>
		</table>
		 <table width="100%"  style="color: darkgrey;">
		<h5>Academic Information</h5>
       <thead class="adobe-product">
		 <tr>
                <td class="products">Matriculation Number</td>
                <td>
                    {{detail.matriculation_number}}
                </td>

            </tr>
			
            <tr>
                <td class="products">
                    Registration Number
                </td>
                <td>
                    {{detail.registration_number}}
                </td>

            </tr>
			 <tr>
                <td class="products">
                    Faculty
                </td>
                <td>
                    {{detail.faculty}}
                </td>

            </tr>

            <tr>
                <td class="products">
                    Department
                </td>
                <td>
                    {{detail.department}}
                </td>

            </tr>

            <tr>
                <td class="products">
                    Admission Year
                </td>
                <td>
                    {{detail.admission_year}}
                </td>

            </tr>

            <tr>
                <td class="products">
                    Programme Type
                </td>
                <td>
                    {{detail.programme_type}}
                </td>

            </tr>
            <tr>
                <td class="products">
                    Degree
                </td>
                <td>
                    {{detail.degree}}
                </td>
            </tr>
		</thead>
		</table>
		 <table width="100%"  style="color: darkgrey;">
		<h5>Contact Information</h5>
		<thead class="adobe-product">
		<tr >
                <td class="products">
                    Email <Address></Address>
                </td>
                <td>
                    {{detail.email}}
                </td>

            </tr>

            <tr>
                <td class="products">
                    Phone Number
                </td>
                <td>
                    {{detail.phone_number}}
                </td>

            </tr>
			
			
		</thead>
		</table>


</div>


{% endblock content %}