{% extends "_ext/lecturerLayout.html"%}
{% block content %}

<div class="main-header">
    
    <div class="header-menu">
        <a class="main-header-link "  href="{{ url_for('lecturer.departmentHandled') }}">Departments</a>
        <a class="main-header-link is-active " href="{{ url_for('lecturer.courseHandled') }}">Courses</a>
		 <a class="main-header-link  " href="{{ url_for('lecturer.levelHandled') }}">Levels</a>
      

    </div>
    
</div>

{% if current_user.one == True %}
<br>
Level One
{% for crs in course1 %}
<div class="content-button  open"> 
    <span>{{ crs.name }}</span>
   

</div>

{% endfor %}
{%endif%}


{% if current_user.two == True %}
<br>
Level Two
{% for crs in course2 %}
<div class="content-button  open"> 
    <span>{{ crs.name }}</span>
   

</div>

{% endfor %}
{% endif %}


{% if current_user.three == True %}
<br>
Level Three
{% for crs in course3 %}
<div class="content-button  open"> 
    <span>{{ crs.name }}</span>
   

</div>

{% endfor %}
{% endif %}


{% if current_user.four == True %}
<br>
Level Four
{% for crs in course4 %}
<div class="content-button  open"> 
    <span>{{ crs.name }}</span>
   

</div>

{% endfor %}
{% endif %}

{% if current_user.five == True %}
<br>
Level five
{% for crs in course5 %}
<div class="content-button  open"> 
    <span>{{ crs.name }}</span>
   

</div>

{% endfor %}
{% endif %}


{% if current_user.six == True %}
<br>
Level Six
{% for crs in course6 %}
<div class="content-button  open"> 
    <span>{{ crs.name }}</span>
   

</div>

{% endfor %}
{% endif %}


{% if current_user.seven == True %}
<br>
Level Seven
{% for crs in course7 %}
<div class="content-button  open"> 
    <span>{{ crs.name }}</span>
   

</div>

{% endfor %}
{% endif %}
{% endblock content %}