{% extends '_ext/layout.html' %}
{% block content %}

<div class="main-header">
    
    <div class="header-menu">
        <a class="main-header-link is-active" href="#">Register Courses</a>
        <a class="main-header-link" href="{{ url_for('student.viewRegisteredCourses') }}">View Registered Courses</a>
        <a class="main-header-link" href="#">Course Materials</a>

    </div>
    
</div>
{% if form != ""%}
{% for course in courses  %}
	
    <div class="content-button  open">
        <span>{{ course.name }}</span>
		
		<form method="POST" action="">
                    {{ form.hidden_tag() }}
        {{ form.registered}}
    
    </div>
 
    
    {% endfor %}
     {{ form.submit}}
	 </form>
	 {% else %}
	 <div class="content-button  open">
	 <p>Already registered courses</p>
	 </div>
	   {% endif %}
{% endblock content %}