{% extends "_ext/lecturerLayout.html"%}
{% block content %}
<style>

.card-single{
margin-bottom: .7rem;
padding: 1rem;
}

.recent-grid {
    margin-top: 1.5rem;
	}
	
tr{
text-decoration: underline;
}

.card-single:last-child {
background: white;
}
</style>

<input type="checkbox" id="nav-toggle">
  <div class="sidebar">
        <div class="sidebar-brand">
            <h2>
                <span class="lab la-accusoft"></span>

                <span>
                        XAVE
                </span>
            </h2>
        </div>
        <div class="sidebar-menu">
            <ul>
<li> <a href="{{ url_for('lecturer.lecturerdashboard') }}"  ><span class="las la-bullseye"></span><span>Dashboard</span></a>
                    </li>
                <li>  <a href="{{ url_for('lecturer.bulkStudentMail') }}"><span class="las la-bullseye"></span><span>Mails</span></a>
                    </li>
                    <li><a href="{{ url_for('lecturer.departmentHandled') }}" class="active"><span class="las la-history"></span><span>Session</span></a></li>
                    <li><a href="{{ url_for('student.feeStatus') }}"><span class="las la-users"></span><span>Send Materials</span></a>
                </li>
<li> <a href="{{ url_for('lecturer.logoutLecturer') }}"><span class="las la-route"></span><span>Logout</span></a>
                    </li>


            </ul>

        </div>
    </div>
	 <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars">
    
                    </span>
                </label>
                
            </h2>
         
    
            <div class="user-wrapper">
                <img src="" width="40px" height="40px" alt="">
                <div>
                    <h4>{{current_user.name}}</h4>
                    <small>{{current_user.position}}</small>
                </div>
            </div>
        </header>
           <main>

<div class="main-header">
    
	 
    <div class="header-menu">
        <a class=" card-single"  href="{{ url_for('lecturer.departmentHandled') }}">Departments</a>
        <a class="active card-single" href="{{ url_for('lecturer.courseHandled') }}">Courses</a>
        <a class=" card-single"  href="{{ url_for('lecturer.levelHandled') }}">Levels</a>

    </div>
    
</div>


 <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>
                    Courses
                </h3>
            </div>
            <div class="card-body">
			<div>
{% if current_user.one == True %}
Level One
{% for crs in course1 %}
<table width="100%">
				<tbody>
					<tr>
   <td> <a  href="{{ url_for('lecturer.getStudent', dept=crs.name) }}">{{ crs.name}}</a></td>
   </tr>
</tbody>
				</table>
{% endfor %}
{%endif%}
</div>

<div>
{% if current_user.two == True %}
Level Two
{% for crs in course2 %}
<table width="100%">
				<tbody>
					<tr>
   <td> <a  href="{{ url_for('lecturer.getStudent', dept=crs.name) }}">{{ crs.name}}</a></td>
   </tr>
</tbody>
				</table>
{% endfor %}
{%endif%}
</div>

			<div>
{% if current_user.three == True %}
Level Three
{% for crs in course3 %}
<table width="100%">
				<tbody>
					<tr>
   <td> <a  href="{{ url_for('lecturer.getStudent', dept=crs.name) }}">{{ crs.name}}</a></td>
   </tr>
</tbody>
				</table>
{% endfor %}
{%endif%}
</div>

<div>
{% if current_user.four == True %}
Level Four
{% for crs in course4 %}
<table width="100%">
				<tbody>
					<tr>
   <td> <a  href="{{ url_for('lecturer.getStudent', dept=crs.name) }}">{{ crs.name}}</a></td>
   </tr>
</tbody>
				</table>
{% endfor %}
{%endif%}
</div>


<div>
{% if current_user.five == True %}
Level five
{% for crs in course5 %}
<table width="100%">
				<tbody>
					<tr>
   <td> <a  href="{{ url_for('lecturer.getStudent', dept=crs.name) }}">{{ crs.name}}</a></td>
   </tr>
</tbody>
				</table>
{% endfor %}
{%endif%}
</div>

<div>
{% if current_user.six == True %}
Level Six
{% for crs in course6 %}
<table width="100%">
				<tbody>
					<tr>
   <td> <a  href="{{ url_for('lecturer.getStudent', dept=crs.name) }}">{{ crs.name}}</a></td>
   </tr>
</tbody>
				</table>
{% endfor %}
{%endif%}
</div>


<div>
{% if current_user.seven == True %}
Level Seven
{% for crs in course7 %}
<table width="100%">
				<tbody>
					<tr>
   <td> <a  href="{{ url_for('lecturer.getStudent', dept=crs.name) }}">{{ crs.name}}</a></td>
   </tr>
</tbody>
				</table>
{% endfor %}
{%endif%}

</div>
</div>
    </div>
	</div>
	</div>
{% endblock content %}