{% extends '_ext/layout.html' %}
{% block content %}

<div class="main-header">
    
    <div class="header-menu">
        <a class="main-header-link is-active" href="#">Register Courses</a>
        <a class="main-header-link" href="{{ url_for('student.viewRegisteredCourses') }}">View Registered Courses</a>
        <a class="main-header-link" href="#">Course Materials</a>

    </div>
    
</div>

<div class="content-button  open" style="margin-top: 2rem; visibility: hidden;"> 
   
   </div>
   
   
{% if form != ""%}

	
    <div class="content-section">
	<ul >
	{% for course in courses  %}
      <li class="adobe-product">
       <div class="products">
        {{ course.name }}
		</div>
		
		<div class="button-wrapper" >
		
        <form method="POST" action="" >
                    {{ form.hidden_tag() }}
        {{ form.registered()}}
    
    </div>
	</li>
 
    
    {% endfor %}
	</ul>
	</div>
     
        {{ form.submit(class="content-button", style="width: 80%;") }}
		
	 </form>
       
       
		
	 {% else %}
	 <div class="content-button  open" style="margin-top: 2rem;">
	 
	 </div>
	   {% endif %}
{% endblock content %}