{% extends '_ext/layout.html' %}
{% block content %}
<div class="main-header">
    <a class="menu-link-main" href="#">Fees Details</a>
    <div class="header-menu">
        <a class="main-header-link is-active" href="#">Fees History</a>
        <a class="main-header-link" href="#">Fees Status</a>
        <a class="main-header-link" href="#">Pay Fees</a>

    </div>
</div>


{% if portal.portal_toggle == False %}

<p> Portal for school payment is curently closed </p>
{% endif %}

{% endblock content %}