{% block content %}
<head>
<link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<!-- Canvas -->
<canvas class="orb-canvas"></canvas>
<!-- Overlay -->

{% if current_user.is_authenticated %} <a href="{{ url_for('student.selectDashboard') }}"><h3>{{current_user.name}}</h3></a>
<a href="{{ url_for('student.selectLogout') }}">
Logout
</a>
{% else %}
<a href="{{ url_for('student.loginPortal') }}">
    Login To Portal
</a>
{% endif %}

<div class="overlay container">
  <!-- Overlay inner wrapper -->
<div class="">
  <div class="overlay__inner">
    <!-- Title -->
    <h1 class="overlay__title">
      Welcome To The University Of
      <span class="text-gradient">Port Harcourt</span> 
    </h1>
    <!-- Description -->
    <p class="overlay__description">
      
    </p>
    <!-- Buttons -->
    <div class="overlay__btns">


      <button class="overlay__btn overlay__btn--colors">
        <span>Randomise Colors</span>
        <span class="overlay__btn-emoji">🎨</span>
      </button>
    </div>
  </div>
</div>

</div>
<h3 class="news">What's New</h3>
<div>
</div>
<div class="overlayx">
<h5 >Every body in the university will be given First Class for choosing the university</h5>

</div>

<div class="overlayx">
<h5 >School fees will paid for all students by the Vice Chancellor</h5>

</div>
<div class="overlayx">
<h5 >All students are required to learn what they like</h5>

</div>
<div class="overlayx">
<h5 >No boyfriend and girlfriend is allowed on the campus</h5>

</div>
<div class="overlayx">
<h5>Ford Stephen will be the tutorial master for all the girls in the school (Only Girls)</h5>

</div>
<script type="module" src="{{ url_for('static', filename='style.js') }}"></script>

{% endblock content %}