{% extends "_ext/adminLayout.html"%}
{% block content %}
<input type="checkbox" id="nav-toggle">
<div class="sidebar">
        <div class="sidebar-brand">
            <h2>
                <span class="lab la-accusoft"></span>

                <span>
                        XAVE
                </span>
            </h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li><a href="{{ url_for('admin.AdminDashboard') }}" ><span class="las la-igloo"></span><span>Dashboard</span></a>
                </li>
                <li><a href="{{ url_for('admin.studentDetail') }}"><span class="las la-users"></span><span>Student Management</span></a>
                </li>
                <li><a href="{{ url_for('admin.lecturerDashboard') }}" class="active"><span class="las la-users"></span><span>Lecturer Management</span></a>
                </li>
                
                    <li><a href="{{ url_for('admin.bulkMail') }}"><span class="las la-clone"></span><span>Bulk Mail</span></a>
                </li>

                <li><a href="{{ url_for('admin.adminControl') }}"><span class="las la-bullseye"></span><span>Administration Control</span></a>
                    </li>
                    <li><a href="{{ url_for('admin.log') }}"><span class="las la-history"></span><span>Activities Log</span></a></li>
                    <li><a href="{{ url_for('admin.logoutAdmin') }}"><span class="las la-route"></span><span>Logout</span></a>
                    </li>

            </ul>

        </div>
    </div>
	<div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars">
    
                    </span>
                </label>
                
            </h2>
         
    
            <div class="user-wrapper">
                <img src="" width="40px" height="40px" alt="">
                <div>
                    <h4>{{current_user.name}}</h4>
                    <small>{{current_user.position}}</small>
                </div>
            </div>
        </header>
<div class="recent-grid" >
    <div class="projects">
        <div class="card" style="margin-top: 4rem">
<div class="card-header">
    
    <h3>
        Register Lecturer
    </h3>

    <a href="{{ url_for('admin.registerLecturer') }}">
        <button>
    Go
        <span class="las la-arrow-right">

        </span>
        </button>
        </a>
    
</div>
</div>
<br>
<div class="search-wrapper">
    <span class="las la-search">

    </span>
    <input type="search" id="livebox" class="livebox" placeholder="Search Lecturer">
    
</div>
<div class="card-body">
    <table width="100%">
    <thead>
        <tr>
            <td>
                Lecturer Name
            </td>
            <td>
                Email Address
            </td>
            <td>
               Phone Number
            </td>
        </tr>
    
    </thead>
    <tbody>
<br>
        <tr id="datalist" >
        
        </tr>
    </tbody>


    </table>

</div>
</div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#livebox").on("input", function (e) {
            $("#datalist").empty();

            $.ajax({
                method: "post",
                url: "/search/lecturer",
                data: { text: $("#livebox").val() },
                success: function (res) {
                    console.log(res)
                    var data = "<table>";
                    $.each(res, function (searchfile, value) {
                        data += '<td> '+ value.name + '</td>' + "<td>" + value.email + "</td>" + "<td>" + value.phone_no + "</td>" + "<td class='card-header' style='border-bottom:none'>" + '<a href="/admin/lecturer/data/'+ value.unique_id +'">' + "<button>" +  "detail" + "</button>" + "</a>"  + "</td>";
                    });
                    data += "</table>";
                    $("#datalist").html(data); 0
                }
            });
        });
    });
</script>
{% endblock content %}

