{% extends "_ext/adminLayout.html"%}
{% block content %}



<input type="checkbox" id="nav-toggle">
<div class="sidebar">
        <div class="sidebar-brand">
            <h2>
                <span class="lab la-accusoft"></span>

                <span>
                        XAVE
                </span>
            </h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li><a href="{{ url_for('admin.AdminDashboard') }}" ><span class="las la-igloo"></span><span>Dashboard</span></a>
                </li>
                <li><a href="{{ url_for('admin.studentDetail') }}"><span class="las la-users"></span><span>Student Management</span></a>
                </li>
                <li><a href="{{ url_for('admin.lecturerDashboard') }}"><span class="las la-users"></span><span>Lecturer Management</span></a>
                </li>
                
                    <li><a href="{{ url_for('admin.bulkMail') }}" class="active"><span class="las la-clone"></span><span>Bulk Mail</span></a>
                </li>

                <li><a href="{{ url_for('admin.adminControl') }}"><span class="las la-bullseye"></span><span>Administration Control</span></a>
                    </li>
                    <li><a href="{{ url_for('admin.log') }}"><span class="las la-history"></span><span>Activities Log</span></a></li>
                    <li><a href="{{ url_for('admin.logoutAdmin') }}"><span class="las la-route"></span><span>Logout</span></a>
                    </li>

            </ul>

        </div>
    </div>
<div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars">
    
                    </span>
                </label>
                
            </h2>
         
    
            <div class="user-wrapper">
                <img src="" width="40px" height="40px" alt="">
                <div>
                    <h4>{{current_user.name}}</h4>
                    <small>{{current_user.position}}</small>
                </div>
            </div>
        </header>

<main>
        <div style=" margin-top: 1rem;">
            <div class="card-header">
                <h3>
                    Lecturer Mail
                </h3>


            </div>
 <div class="content-wrapper">
            <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset style="border: none;">
                       <table width="100%">
                            <thead>
                                <tr >
                                    <td>
                                        {{form.title.label()}}
                                    </td>
                                    <td>
                                        {{form.title(style="    margin-top: 1rem;")}}
                                    </td>


                                </tr>

                            
                            
                                <tr>
                                    <td>
                                        {{form.mail.label()}}
                                    </td>
                                    <td>
                                        {{form.mail()}}
                                    </td>

                                </tr>

                               
   </thead>
</table>

</fieldset>
{{form.submit()}}
</form>
</div>
</div>
</div>
</div></div></div>


</main>

{% endblock content %}