{% extends "_ext/lecturerLayout.html"%}
{% block content %}

<style>
    input {
        width: 80%;
        outline: none;
        border: none;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.2);
        padding: 8px 10px;
        padding-left: 40px;
        border-radius: 15px;
        color: #fff;
        font-size: 16px;
        box-shadow: 0 5px 15px rgb(0 0 0 / 5%);

    }
</style>

<div class="main-header">
    
    <div class="header-menu">
        <a class="main-header-link is-active" href="{{ url_for('lecturer.lecturerMail') }}">My Mails</a>
        <a class="main-header-link " href="{{ url_for('lecturer.bulkStudentMail') }}">Send Mail To Students</a>
        

    </div>
    
</div>


School Mail
{% for msg in message %}

<table width="100%"  style="color: darkgrey;">
   <div class="content-section">
        <tbody>
		
            <tr  class="adobe-product">
                <td>
                    <small>Re: {{msg.from_}}</small>
                </td>
                <td style="    width: 54%;">
                  <a href="{{ url_for('lecturer.messageDetail', msg_id=msg.id) }}" >  <span style="font-size: 13px;
    color: white;">{{ msg.title }}</span>
				  	</a>
                </td>
				<td>
                    <span style="font-size:13px;">{{msg.created_on.strftime('%d/%B/%Y')}}</span>
                </td>

            </tr>
		
			</tbody>
			</div>
			
			{% endfor %}

{% endblock content %}




