{% extends "_ext/lecturerLayout.html"%}
{% block content %}


<div class="main-header">
    
    <div class="header-menu">
        <a class="main-header-link  "  href="{{ url_for('lecturer.departmentHandled') }}">Departments</a>
        <a class="main-header-link" href="{{ url_for('lecturer.courseHandled') }}">Courses</a>
		<a class="main-header-link  is-active" href="{{ url_for('lecturer.levelHandled') }}">Levels</a>
      

    </div>
    
</div>
{% if lecturer.one == True %}
<div class="content-button  open"> 
    <span>Level 100</span>
   

</div>
{% else%}
{% endif %}

{% if lecturer.two == True %}
<div class="content-button  open"> 
    <span>Level 200</span>
   

</div>
{% else%}
{% endif %}
{% if lecturer.three == True %}
<div class="content-button  open"> 
    <span>Level 300</span>
   

</div>
{% else%}
{% endif %}
{% if lecturer.four == True %}
<div class="content-button  open"> 
    <span>Level 400</span>
   

</div>
{% else%}
{% endif %}
{% if lecturer.five == True %}
<div class="content-button  open"> 
    <span>Level 500</span>
   

</div>
{% else%}
{% endif %}
{% if lecturer.six == True %}
<div class="content-button  open"> 
    <span>Level 600</span>
   

</div>
{% else%}
{% endif %}
{% if lecturer.seven == True %}
<div class="content-button  open"> 
    <span>Level 700</span>
   

</div>
{% else%}
{% endif %}



{% endblock content %}