{% extends "_ext/adminLayout.html"%}
{% block content %}


<style>
.form__group{
    margin-bottom: 1rem;
}
.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.title__input{
    border: 2px solid;
    border-radius: 17px;
    height: 1rem;
	 font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 16px;
	margin: 0 auto;
	margin-top: 1rem;
  padding: 1.5rem 2rem;
  background-color: rgb(255, 255, 255);
  width: 90%;
  display: block;
  transition: all 0.3s;
}

.form__input {
border: 2px solid;
    border-radius: 17px;
    height: 10rem;
margin-top: 1rem;
  
  color: #333;
  font-size: 20px;
	margin: 0 auto;
  padding: 1.5rem 2rem;
 
  background-color: rgb(255, 255, 255);
  width: 90%;
  display: block;
  transition: all 0.3s;
}
input{
    width: 30%;
}
.level__input {
margin-top: 1rem;
  color: #333;
	margin: 0 auto;
  padding: 1.5rem 2rem;
 
  background-color: rgb(255, 255, 255);
  width: 90%;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}


</style>

<div class="recent-grid">
    <div class="projects">
        <div class="card" style=" margin-top: 1rem;">
            <div class="card-header">
                <h3>
                    Students Mail
                </h3>
 <a href="{{ url_for('admin.bulkLecturerMail') }}">
 Lecturer Mail

 </a>

            </div>

            <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset style="border: none;">
                        <div class="form__group">
  {{form.title.label(class="form__label")}}
  {{ form.title(class="title__input", placeholder="Title")}}
</div>

<div class="form__group">
  {{form.mail.label(class="form__label")}}
  {{ form.mail(class="form__input", placeholder="Construct Mail")}}
</div>


</fieldset>
<button style="margin-left: 3rem;">{{form.submit(style="width: 7rem;")}}</button>
</form>
</div>
</div>
</div>
</div>




{% endblock content %}