{% extends "_ext/layout.html"%}
{% block content %}

<style>
    input {
        width: 80%;
        outline: none;
        border: none;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.2);
        padding: 8px 10px;
        padding-left: 40px;
        border-radius: 15px;
        color: #fff;
        font-size: 16px;
        box-shadow: 0 5px 15px rgb(0 0 0 / 5%);

    }
	
.name{
font-size: 14px;
}
.date{
    float: right;
	font-size:12px;
	color: #fff;
}
.headd{
text-decoration: underline;
}
</style>




<h4 class="headd">School Mail</h4>
{% for msg in message %}


<table width="100%"  style="color: darkgrey;">
   <div class="content-section">
        <tbody>
		
            <tr  class="adobe-product">
                <td style="width: 10rem;" >
                    <small class="name">Re: {{msg.from_}}</small>
                </td>
                <td style=" width: 55%;">
                    <a href="{{ url_for('student.messageDetail', msg_id=msg.id) }}" ><span style="font-size: 13px;
    color: white;">{{ msg.title }}</span></a>
                </td>
				<td>
                    <span class="date">{{msg.created_on.strftime('%d/%B/%Y')}}</span>
                </td>

            </tr>
			</tbody>
			</div>
			
			{% endfor %}

{% endblock content %}




