{% extends "_ext/adminLayout.html"%}
{% block content %}




<div class="recent-grid">
    <div class="projects">
        <div class="card" style=" margin-top: 4rem;">
            <div class="card-header">
                <h3>
                    Student Registration
                </h3>


            </div>

            <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    
                <table width="100% border: none;">
                    <thead>
                        <tr>
                            <td>
                                Full Name
                            </td>
                            <td>
                                {{form.name()}}
                            </td>
                          

                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Email Address
                            </td>
                            <td>
                                {{form.email(type="email")}}
                            </td>

                        </tr>

                        <tr>
                            <td>
                                Phone Number
                            </td>
                            <td>
                                {{form.phone_number(type="number")}}
                            </td>

                        </tr>

                        <tr>
                            <td>Matriculation Number</td>
                            <td>
                                {{form.matricNo()}}
                            </td>

                        </tr>
                        
                        <tr>
                            <td>
                                Registration Number
                            </td>
                            <td>
                                {{form.registration_number()}}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Date Of Birth
                            </td>
                            <td>
                                {{form.date_of_birth(type="date")}}
                            </td>

                        </tr>
						<tr>
                                    <td>
                                        Profile Picture
                                    </td>
                                    <td>
                                        {{form.photo}}
                                    </td>

                                </tr>
                        <tr>
                            <td>
                                Gender
                            </td>
                            <td>
                                {{form.gender()}}
                            </td>
                        
                        </tr>
                        <tr>
                            <td>
                                Religion
                            </td>
                            <td>
                                {{form.religion()}}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Marital Status
                            </td>
                            <td>
                                {{form.marital_status()}}
                            </td>

                        </tr>

                        <tr>
                            <td>
                                Nationality
                            </td>
                            <td>
                                {{form.nationality()}}
                            </td>

                        </tr>
                        <tr>
                            <td>State Of Origin</td>
                            <td>
                                {{form.state_of_origin()}}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Local Government
                            </td>
                            <td>
                                {{form.local_government()}}
                            </td>

                        </tr>

                        <tr>
                            <td>
                                Hometown
                            </td>
                            <td>
                                {{form.hometown()}}
                            </td>

                        </tr>
                        <tr>
                            <td>
                               Address
                            </td>
                            <td>
                                {{form.address1()}}
                            </td>
                        
                        </tr>

                        <tr>
                            <td>
                                Faculty
                            </td>
                            <td>
                                {{form.faculty()}}
                            </td>

                        </tr>

                        <tr>
                            <td>
                                Department
                            </td>
                            <td>
                                {{form.department()}}
                            </td>

                        </tr>

                        <tr>
                            <td>
                                Admission Year
                            </td>
                            <td>
                                {{form.admission_year(type="number")}}
                            </td>

                        </tr>

                        <tr>
                            <td>
                                Programme Type
                            </td>
                            <td>
                                {{form.programme_type()}}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Degree
                            </td>
                            <td>
                                {{form.degree()}}
                            </td>
                        </tr>
						<tr>
                            <td>Password</td>
                            <td>
                                {{form.password()}}
                            </td>
                        
                        </tr>
                        
						<tr>
                            <td>Confirm Password</td>
                            <td>
                                {{form.password()}}
                            </td>
                        
                        </tr>
						<tr>
                        <td></td>
                        
                        <td>{{form.submit(class="vas")}}</td>
                        </tr>
                    </tbody>
                   
                </table>
                
                </form>
            </div>

           

           

        </div>
    </div>
</div>



{% endblock content %}