{% extends '_ext/lecturerLayout.html' %}
{% block content %}


<div class="main-header">
    
    <div class="header-menu">
        <a class="main-header-link " href="#">My Mails</a>
        <a class="main-header-link is-active" href="{{ url_for('student.viewRegisteredCourses') }}">Send Mail To Students</a>
        

    </div>
    
</div>

   <div class="content-wrapper">
      <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset style="border: none;">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>
                                        {{form.title.label()}}
                                    </td>
                                    <td>
                                        {{form.title()}}
                                    </td>


                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{form.mail.label()}}
                                    </td>
                                    <td>
                                        {{form.mail()}}
                                    </td>

                                </tr>

                               
</tbody>
</table>
</fieldset>
{{form.submit}}
</form>
</div>
      
   
    
     </div>
     
    
{% endblock content %}