{% extends '_ext/layout.html' %}
{% block content %}

<style>
    input {
        width: 80%;
        outline: none;
        border: none;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.2);
        padding: 8px 10px;
        padding-left: 40px;
        border-radius: 15px;
        color: #fff;
        font-size: 16px;
        box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
        
    }
</style>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset style="border: none;">
        
		<div class="content-section">
    
     <ul>
      <li class="adobe-product">
       <div class="products">
            <span>{{ form.email.label() }}</span>
			</div>
            {{form.email()}}
           
       
		</li>

        <li class="adobe-product">
       <div class="products">
            <span>{{ form.phone_number.label() }}</span>
			</div>
            {{form.phone_number()}}
            </li>
        

       <li class="adobe-product">
       <div class="products">
            <span>{{ form.marital_status.label() }}</span>
			</div>
            {{form.marital_status()}}
            
        </li>
		
        <li class="adobe-product">
       <div class="products">
            <span>{{ form.address1.label() }}</span>
			</div>
            {{form.address1()}}
        
       </li>
	   
         <li class="adobe-product">
       <div class="products">
            <span>{{ form.religion.label() }}</span>
			</div>
            {{form.religion()}}
        
        </li>
        </fieldset>
<div class="button-wrapper">
        {{ form.submit() }}
		</div>
        </form>


{% endblock content %}