{% extends "_ext/lecturerLayout.html"%}
{% block content %}

 <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset style="border: none;">
                       
                                        {{form.semester.label()}}
                                    
                                        {{form.semester()}}
										
										
										
										
										
										{% for i in courses%}
										<br>
										{{i.name}}
										
                                        {{form.grade.label()}}
                                    
                                        {{form.grade()}}
                                    {% endfor %}
										

</fieldset>
{{form.submit}}
</form>

{% endblock content %}